@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.headerContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.inputContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.listContainer {
  display: flex;
  margin: 0.5rem;
  align-items: center;
}

.mainBtn,
.mainBtnD,
.mainBtnE {
  margin-left: 0.5rem;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
}

.mainBtnD {
  background-color: #dc3545;
}

.mainBtnE {
  background-color: #17a2b8;
}

.mainBtn:hover {
  background-color: #1e7e34;
  cursor: pointer;
}

.mainBtnD:hover {
  background-color: #bd2130;
  cursor: pointer;
}

.mainBtnE:hover {
  background-color: #117a8b;
  cursor: pointer;
}

.noDisplay {
  display: none;
}

.displayInput,
.displayInputTwo {
  margin-left: 0.3rem;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  outline-color: #28a745;
  outline-width: thin;
  cursor: pointer;
}

.displayWrapper {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-around;
}

.listWrapper {
  display: flex;
  justify-content: flex-start;
  min-width: 15vw;
  max-width: 50vw;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .displayInput,
  .displayInputTwo,
  .mainBtn,
  .mainBtnD,
  .mainBtnE {
    padding: 4px 8px;
    font-size: 13px;
  }

  .displayInputTwo {
    width: 5rem;
  }

  .listWrapper {
    display: flex;
    justify-content: flex-start;
    min-width: 35vw;
    max-width: 40vw;
  }
}

@media (max-width: 550px) {
  .displayInput {
    padding: 4px 8px;
    font-size: 13px;
  }

  .listWrapper {
    min-width: 28vw;
    max-width: 40vw;
  }
}
